<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
<!--<link rel="stylesheet" href = "{% static 'events.css' %}"/>-->

    <title>{% block title %}Tous les événements de la semaine:{% endblock %}</title>
</head>

{% block content %}

<h3>Événements terminés</h3>
    <section>
{% for event in past_events %}
        <li><a href = "{% url 'events:detail' event.id %}" >{{ event.name }}</a> le {{ event.debut.date}} à
            {{ event.debut | time:"H:i"}} </li>
{% endfor %}
  <h3>Événements en cours</h3>
{% for event in current_events %}
        <li><a href = "{% url 'events:detail' event.id %}" >{{ event.name }}</a> le {{ event.debut.date}} de
            {{ event.debut | time:"H:i" }} à {{ event.fin | time:"H:i" }} </li>
{% endfor %}
<h3>Événements à venir</h3>
{% for event in events_to_come %}
            <li><a href = "{% url 'events:detail' event.id %}" >{{ event.name }}</a>
                le {{ event.debut.date }} à {{ event.debut | time:"H:i" }} </li>
{% endfor %}
    </section>
    <br>
    <section>

                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <div class="portfolio-box">
                        <img src="{% static 'img/SL.jpeg' %}" class="img-responsive" alt="">
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/interne.jpeg' %}" class="img-responsive" alt="">
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                    <!--<a href = "" class="portfolio-box">-->
                        <div class="portfolio-box">
                        <img src="{% static 'img/externeDeux.jpeg' %}" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
    </section>
{% endblock %}
</html>