<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Apéros</title>
</head>
<body>

{% block title %}Hotline Apéros{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        Pour cause d'Octobattle, les apéros sont servis de 18h à 20h15 ce soir!
<<form method="post"  action="{% url 'hotline:apero' %}">
                 {% csrf_token %}
               {{ form |crispy }}
                <input type="submit" class="btn btn-success" value = "Commander"/>
                </form>
    {% else %}
    <p>Connecte toi pour profiter d'apéros ultra qualis!</p>
    {% endif %}

{% endblock %}

</body>
</html>