<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Apéros</title>
</head>
<body>

{% block title %}Hotline Apéros{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        Il n'y a plus d'apéro pour ce soir. Vous avez éclaté nos 600 doigts de Fatma, apparamment ca vous a plu :) Nous espérons que tout le monde a pu y goûter..
<!-- <form method="post"  action="{% url 'hotline:apero' %}">
                 {% csrf_token %}
               {{ form |crispy }}
                <input type="submit" class="btn btn-success" value = "Commander"/>
                </form>
    {% else %}
    <p>Connecte toi pour profiter d'apéros ultra qualis!</p> -->
    {% endif %}

{% endblock %}

</body>
</html>