<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Crêpes</title>
</head>
<body>

{% block title %}Hotline Crêpes{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        Aujourd'hui c'est open crêpes aux saveurs inédites, livrez-nous vos désirs les plus fous en commentaires, on pourra (certainement) les satisfaire! <br>
        Attention pour les livraisons à la Mine, on reste sur les classiques chocolat-confiture (et choco banane!)
        <form method="post"  action="{% url 'hotline:crepes' %}">
                 {% csrf_token %}
                {{ form |crispy }}
                <input type="submit" class="btn btn-success" value = "Commander"/>
                </form>
    {% else %}
    <p>Connecte toi pour commander un max de crêpes!</p>
    {% endif %}

{% endblock %}

</body>
</html>