<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Crêpes</title>
</head>
<body>

{% block title %}Hotline Crêpes{% endblock %}

{% block content %}
    Fin de la hotline crêpes pour aujourd'hui, revenez demain!

    {% if user.is_authenticated %}
       <!-- <form method="post"  action="{% url 'hotline:crepes' %}">
                 {% csrf_token %}
                {{ form |crispy }}
                <input type="submit" class="btn btn-success" value = "Commander"/>
                </form>
    {% else %}
    <p>Connecte toi pour commander un max de crêpes!</p>
    {% endif %} -->

{% endblock %}

</body>
</html>