<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Crêpes</title>
</head>
<body>

{% block title %}Hotline Crêpes{% endblock %}

{% block content %}
    Pas de hotline entre 12h et 14h, toutes nos excuses! Venez au foyer si vous voulez être servis en crêpes ;)
   <!-- <p>Pas de chocolat à la Mine avant 10h, désolé!</p>
    {% if user.is_authenticated %}
        <form method="post"  action="{% url 'hotline:crepes' %}">
                 {% csrf_token %}
                {{ form |crispy }}
                <input type="submit" class="btn btn-success" value = "Commander"/>
                </form>
    {% else %}
    <p>Connecte toi pour commander un max de crêpes!</p>
    {% endif %} -->

{% endblock %}

</body>
</html>