<!DOCTYPE html>
<html>

{% extends 'base.html' %}
{% load static %}

<head>
        <title>Hotlines</title>
    </head>
    <body>

        {% block content %}
            <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href = "{% url 'hotline:crepes' %}" class="portfolio-box">
                        <img src="{% static 'img/crepes.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Crêpes
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/chore.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Choré
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/compliments.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Compliments
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/insultes.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Insultes
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/massage.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Massage
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href = "{% url 'hotline:muffin' %}" class="portfolio-box">
                        <img src="{% static 'img/muffin.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Muffins
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/hugs.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Câlins
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/telephone-rose.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Téléphone Rose
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/anti-gueule.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Anti gueule de bois
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <a href = "{% url 'hotline:apero' %}" class="portfolio-box">
                        <img src="{% static 'img/apero.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Apéro
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/mystere.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Mystère???
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                    <a href = "{% url 'hotline:petitdej' %}" class="portfolio-box">
                        <img src="{% static 'img/petitdej.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Petit déjeuner
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                </div>
            </div>
            </div>
            </section>


        {% endblock %}


    </body>


</html>