<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Hotlines</title>
</head>
<body>
{% block title %}Nos hotlines{% endblock %}

{% block content %}
    <!--Remettre les images stylées avec lien vers différentes hotlines -->
    <a href = "{% url 'hotline:crepes' %}"><img src = "{% static 'img/crepes.jpg' %}"/></a>
    <a href = "{%  url 'hotline:apero' %}"><img src = "{%  static 'img/apero.png' %}"/></a>
{% endblock %}

</body>
</html>