<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Memes</title>
</head>
<body>
{% block title %}Hotline Memes{% endblock %}

{% block content %}
     {% if user.is_authenticated %}
<form method="post"  action="{% url 'hotline:meme' %}">
                 {% csrf_token %}
                {{ form |crispy }}  <!-- form.as_p -->
                <input type="submit" class="btn btn-success" value = "Commander"/>
                </form>
    {% else %}
    <p>Connecte toi pour commander recevoir des memes</p>
    {% endif %}

{% endblock %}
</body>
</html>