<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Muffins</title>
</head>
<body>
{% block title %}Hotline muffins{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <p>Une hotline muffin, tu en as rêvée, on l'a fait!</p>
<form method="post"  action="{% url 'hotline:muffin' %}">
                 {% csrf_token %}
                {{ form |crispy }}  <!-- form.as_p -->
                <input type="submit" class="btn btn-success" value = "Commander"/>
                </form>
    {% else %}
    <p>Connecte toi pour commander un muffin tout chaud</p>
    {% endif %}

{% endblock %}
</body>
</html>