<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Petit Dej</title>
</head>
<body>
{% block title %}Le petit déj des Camin'{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

<form method="post"  action="{% url 'hotline:petitdej' %}">
                 {% csrf_token %}
                {{ form |crispy }}
                <input type="submit" class="btn btn-success" value = "Commander"/>
                </form>
    {% else %}
    <p>Connecte toi pour commander ton petit déjeuner </p>
    {% endif %}

{% endblock %}
</body>
</html>