<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>EscapeGame</title>
</head>
<body>
{% block title %}Inscription à notre Escape game{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <p>Inscrivez-vous à notre Escape Game, imaginé de toute pièce par notre équipe. Chaque partie dure au MAXIMUM une demi-heure (moins si vous êtes rapides!) et se joue à quatre joueurs. Il n'y a pas d'escape game aujourd'hui (samedi), mais vous pouvez dès à présent réserver pour dimanche</p>
        <form method="post"  action="{% url 'escape:escape' %}">
                 {% csrf_token %}
                {{ form |crispy }}
                <input type="submit" class="btn btn-success" value = "Réserver"/>
                </form>
    {% else %}
    <p>Connecte toi pour t'inscrire à l'escape game!</p>
    {% endif %}
    <!-- Tu auras plus de détails sur notre escape game très bientôt. Tu pourras notamment réserver un créneau Escape Game avec ton équipe à partir de jeudi -->
{% endblock %}
</body>
</html>