<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% load static %}

    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "{% static 'team.css' %}" />
    <link rel = "stylesheet" href = "{% static 'main_style.css' %}" />

    <title>Notre équipe</title>
</head>
<body>
{% block title %}Notre équipe{% endblock %}
    {% block content %}

    <section class = "no-padding" id = "portofolio">


                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/team/aymeric.png' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/team/aymeric.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Aymeric Vinçotte
                                </div>
                                <div class="project-name">
                                    Pôle entreprise, VP Parrainage
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/team/antoine.png' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/team/antoine.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Antoine Secher
                                    </div>
                                    <div class="project-name">
                                        Sec'Gen', Piauleur
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
        </div>
        </div>

    </section>


{% endblock %}



</body>
</html>