<!DOCTYPE html>
<html lang="en">
<head>

{% extends 'base.html' %}

{% load static %}

<meta charset="UTF-8">


<title>Notre équipe</title>

</head>
<body>
{% block title %}Notre équipe{% endblock %}
    {% block content %}


        <div id="inline-popups"> </div>

        <section class = "no-padding" id = "portofolio">
                <h2> Bureau </h2>
                <div class="row popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                            <img src="{% static 'img/Photos/ThibaultDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Thibault.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Thibault Hastings
                                    </div>
                                    <div class="project-name">
                                        Président, VP Solidarité
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>


                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/AlexianeDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Alexiane.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Alexiane Laude
                                    </div>
                                    <div class="project-name">
                                        Vice-prez', VP Geek x Bouffe
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/ArthurDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Arthur.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Arthur Pignet
                                    </div>
                                    <div class="project-name">
                                        Trez'
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                </div>
                <br>
                <div class="row">

                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/AntoineDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Antoine.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Antoine Secher
                                    </div>
                                    <div class="project-name">
                                        Sec'Gen, Piauleur
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/NathanDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Nathan.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Nathan Chosidow
                                    </div>
                                    <div class="project-name">
                                        Vice-trez', Pôle entreprise, VP Octo x Isupfere
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                </div>

    </section>


    <section class = "no-padding" id = "portofolio">
        <h2> Pôle interne </h2>
        <div class="row">
        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/LucieDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Lucie.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Lucie Cros
                                </div>
                                <div class="project-name">
                                    Respo interne, VP Parrainage x Octo
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/LucasDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Lucas.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Lucas Bouvignies
                                    </div>
                                    <div class="project-name">
                                        Pôle interne, VP Octo x Athens
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/LeilaDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Leila.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Leila Bessila
                                    </div>
                                    <div class="project-name">
                                        Pôle interne, VP Com' x Vert
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
        </div>
        <br>
        <div class="row">

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/TanguyDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Tanguy.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Tanguy Magne
                                    </div>
                                    <div class="project-name">
                                        Pôle interne, VP Geek x Admissibles
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/SebDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Seb.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Sebastian Inveninato
                                    </div>
                                    <div class="project-name">
                                        Pôle interne, VP Voyage x PSL
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>

        </div>

    </section>

    <section class = "no-padding" id = "portofolio">
         <h2> Pôle externe </h2>
        <div class="row">
        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/TomDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Tom.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Tom Szwagier
                                </div>
                                <div class="project-name">
                                    Respo externe, VP PSL x Admissibles
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/YannDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Yann.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Yann Trémembert
                                    </div>
                                    <div class="project-name">
                                        Pôle externe, VP Com'
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/MaximeDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Maxime.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Maxime Renault
                                    </div>
                                    <div class="project-name">
                                        Pôle externe, VP Com'
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
        </div>

    </section>

    <section class = "no-padding" id = "portofolio">
        <h2> Pôle entreprise </h2>
        <div class="row">
        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/VincentDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Vincent.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Vincent Coz
                                </div>
                                <div class="project-name">
                                    Respo entreprise, VP Alumni
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/JulieBDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/JulieB.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Julie Bonnet
                                    </div>
                                    <div class="project-name">
                                        Pôle entreprise, VP Athens x Voyage
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/RepDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Rep.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Louis Repussard
                                    </div>
                                    <div class="project-name">
                                        Pôle entreprise, VP Alumni
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
        </div>
        <br>
        <div class="row">

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/LoicDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Loic.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Loïc Yezeguelian
                                    </div>
                                    <div class="project-name">
                                        Pôle entreprise, VP Parrainage x Com'
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/AymericDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Aymeric.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Aymeric Vinçotte
                                    </div>
                                    <div class="project-name">
                                        Pôle entreprise, VP Parrainage
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/ElyesDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Elyes.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Elyes Kaak
                                    </div>
                                    <div class="project-name">
                                        Pôle entreprise, VP Palum
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>

        </div>
        <br>
        <div class="row">

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/HaoboDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Haobo.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Haobo Yu
                                    </div>
                                    <div class="project-name">
                                        Pôle entreprise, VP Voyage x PSL
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/NathanDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Nathan.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Nathan Chosidow
                                    </div>
                                    <div class="project-name">
                                        Vice-trez', Pôle entreprise, VP Octo x Isupfere
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
        </div>

    <section class = "no-padding" id = "portofolio">
        <h2> Soutiens </h2>
        <div class="row">
        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/GodefroyDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Godefroy.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Godefroy Bichon
                                </div>
                                <div class="project-name">
                                    Soutien, VP Athens x Solidarité
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/JulieCDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/JulieC.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Julie Chalony
                                    </div>
                                    <div class="project-name">
                                        Soutien, VP Palum x Admissibles
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>

        <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/Photos/NicolasDos.jpg' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/Gifs/Nicolas.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Nicolas Olivain
                                    </div>
                                    <div class="project-name">
                                        Soutien, VP Com'
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
        </div>

    </section>

{% endblock %}

</section>



</body>

</html>