<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% load static %}

    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "{% static 'team.css' %}" />
    <link rel = "stylesheet" href = "{% static 'main_style.css' %}" />

    <title>Notre équipe</title>
</head>
<body>
{% block title %}Notre équipe{% endblock %}


    <!--<section class = "no-padding" id = "portofolio">
    <div class = "container-fluid">

    {% for listeux in listeux_list %}
        <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{{ listeux.image.url }}" class="img-responsive" alt="Static Image" data-alt="{{ listeux.gif.url }}">
                        </figure>
                            <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ listeux.name }}
                                </div>
                                <div class="project-name">
                                    {{ listeux.poste }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    {% endfor %}
    </div>
    </section>-->

{% block content %}
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/team/antoine.png' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/team/antoine.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Antoine Sécher
                                </div>
                                <div class="project-name">
                                    Sec'Gén, Piauleur
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/team/aymeric.png' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/team/aymeric.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Aymeric Vinçotte
                                </div>
                                <div class="project-name">
                                    Pôle entreprise, VP Parrainage
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row no-gutter popup-gallery">
                    <div class="col-lg-4 col-sm-6">
                        <div class="portfolio-box">
                            <figure>
                            <img src="{% static 'img/team/antoine.png' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/team/antoine.gif' %}">
                            </figure>
                                <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Antoine Sécher
                                    </div>
                                    <div class="project-name">
                                        Sec'Gén, Piauleur
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                    <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/team/antoine.png' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/team/antoine.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Antoine Sécher
                                </div>
                                <div class="project-name">
                                    Sec'Gén, Piauleur
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <figure>
                        <img src="{% static 'img/team/aymeric.png' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/team/aymeric.gif' %}">
                        </figure>
                            <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Aymeric Vinçotte
                                </div>
                                <div class="project-name">
                                    Pôle entreprise, VP Parrainage
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row no-gutter popup-gallery">
                    <div class="col-lg-4 col-sm-6">
                        <div class="portfolio-box">
                            <figure>
                            <img src="{% static 'img/team/antoine.png' %}" class="img-responsive" alt="Static Image" data-alt="{% static 'img/team/antoine.gif' %}">
                            </figure>
                                <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Antoine Sécher
                                    </div>
                                    <div class="project-name">
                                        Sec'Gén, Piauleur
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </section>

{% endblock %}



</body>
</html>