

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
    height:100%;
    box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

img {
    height: auto;
    width: auto;
}

#container {
  margin: 0 auto;
  padding-top: 64px;
}


/* Style the header */
header {
    width:100%;
  background-color: white;
  padding: 50px;
  text-align: center;
    margin-left: 0;
    margin-right: 0;

}

header h1 {
    font-size: xx-large;
    font-color: white;
    padding-top: 50px;
}

aside {
    float: right;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    alignment-baseline: bottom;
}

aside #chat {
  padding: 15px;
  width: 100%;
  height: 200px;
  overflow: scroll;
  border: 1px solid #ccc;
}



/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
    left: 0;
  width: 100%;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Style the footer */
.footer {
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: black;
    text-align: center;
    bottom:0;
    left:0;
    rigth:0;
    margin:0;
}

.footer a {
    color: white;
}



.footer #navlist {
        bottom:0;
        background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer #navlist ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}

.footer #navlist li {
  margin: auto;
  padding: 20px;
  top: 0;
}

.footer #navlist li, #navlist a {
  height: 44px;
}

.footer #navlist img {
    width: 40px;
    height: auto;
}


