<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Titre du site</title>
</head>
<body>

<h1>{% block title %}{% endblock %}<h1>

<nav>
    <ul>
       <li><a href = "{% url 'events:index' %}">Événements</a></li>
        <li><a href = "{% url 'programme:index' %}">Notre programme</a></li>
        <li><a href = "{% url 'hotline:home' %}">Nos hotlines</a></li>
        <li><a href = "{% url 'team' %}">Qui sommes nous?</a></li>
        <li><a href = "{% url 'partners' %}">Nos partenaires</a></li>
        <li><a href = "{% url 'gallery' %}">Gallerie</a></li>
    </ul>
</nav>

<div id = logo>
    <!-- On insère le logo ici -->
</div>

<div id = chat>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>

<div id = "poll">
    Sondage du jour:
    <ul>
    {% for poll in poll_today %}
        <li><a href = "{% url 'polls:detail' poll.id %}">{{ poll.question_text }}</a></li>
        {% empty %}
        Pas de sondage aujourd'hui, le VP geek se claque!
        {% endfor %}
    </ul>

</div>

<div id = "content">{% block content %}{% endblock %}</div>

<div id = "chat">
    <ul>
    {% for chat in last_chats %}
        <li>
            {{ chat.user.username }}: {{ chat.message }} <sub>{{ chat.pub_date }}</sub>
        </li>
        {% empty %}
        Personne n'a envoyé de message :(
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <form method="post"  action="{% url 'chat:new_chat' %}">
       {% csrf_token %}
       {{ chat_form.as_p }}
       <input type="submit" value = "Envoyer"/>
    </form>
    {% endif %}

</div>

<div id = "events">
    <ul>
    {% for event in events_today %}
        <li><a href = "{% url 'events:detail' event.id %}">{{ event.name }}</a> à {{ event.debut | time:"P" }}</li>
        {% empty %}
        Pas d'événements aujourd'hui
        {% endfor %}
    </ul>
</div>


<footer>
{% block retour %}
<div id = "retour accueil">
    <a href = "{% url 'home' %}">Retour à l'accueil</a>
</div>
{% endblock %}

<div id = "connexion">
    {% if user.is_authenticated %}
    <a href = "{% url 'deconnexion' %}">Se deconnecter</a>
    {% else %}
    <a href = "{% url 'connexion' %}">Se connecter</a>
    ou <a href = "{% url 'new_user' %}">Créer un nouveau compte</a>
{% endif %}
    </div>

<div id = "social_networks">
    <ul>
        <li>
<a href = "mailto:alexiane.laude@mines-paristech.fr"><img src = "{% static "images/zimbra_logo.png" %}" title = "Envoie nous un mail"/></a>
        </li>
<li>
<a href = "https://www.facebook.com/groups/2518365178489027/?fref=nf&__xts__[0]=68.ARC7aL858EyPTEBjrYl1ttvvdLfoPzsEzplnEBXlAxJFI6e9ov19p4TGI91T7sSy9qeDs7BCC34mT6ZZ4qNkJkwvIqhFDkh_ynk7aJLhOMaaspBuktZMDmbn-npjWanMKYIUyBvzymCFJK0r-xUEMK5lwsEFhQ7rO_FjnoXK72iBXEdAoPeyJbXewY4a8sZX88New1rndUjuRYp2ezVT7YRFoj9eeMDrZP75XuQv7mjF9rc&__tn__=C-RH-R"
><img src = "{% static "images/fb_logo.png" %}" title = "Notre Facebook"/></a>
</li>
    </ul>
</div>

<div id = "bandeau">
    <!-- En pied de page, bandeau publicitaire avec logo de nos principaux partenaires + lien vers la page partenaires -->
</div>
</footer>

</body>
</html>