<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Bouffe</title>
</head>
<body>
{% block title %}Bouffe{% endblock %}

{% block content %}
    <!--Remettre les images stylées avec lien vers différentes hotlines -->
    <section class="no-padding" id="portfolio">
        <h2>Apéros</h2>
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href = "" class="portfolio-box">
                        <img src="{% static 'img/Aperos/Jap.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Apéro
                                </div>
                                <div class="project-name">
                                    Japonais
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/Aperos/Pizza.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Apéro
                                </div>
                                <div class="project-name">
                                    Classique pizza
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/Aperos/Orient.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Apéro
                                </div>
                                <div class="project-name">
                                    Orient
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/Aperos/Mexicain.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Apéro
                                </div>
                                <div class="project-name">
                                    Mexicain
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/Aperos/CLassico.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Apéro
                                </div>
                                <div class="project-name">
                                    Classico
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/Aperos/Francais.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Apéro
                                </div>
                                <div class="project-name">
                                    Français
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


        <section class="no-padding" id="portfolio">
        <h2>Petit-déj et brunch</h2>
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-6 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/Petit-dej/Petit-dej.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Petit-déj
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/Petit-dej/Brunch.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Brunch
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </section>

        <section class="no-padding" id="portfolio">
        <h2>BALM</h2>
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-6 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/BALM/Wok.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    BALM
                                </div>
                                <div class="project-name">
                                    Wok
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/BALM/Grotte_de_chypre.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    BALM
                                </div>
                                <div class="project-name">
                                    Grotte de Chypre
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </section>

{% endblock %}

</body>
</html>