<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load tags %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>-->

    <link rel="stylesheet" href="https://use.typekit.net/vfj1lfm.css">

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/home.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Mine'Light</title>
</head>


<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'team:index' %}">{% if user.is_authenticated %}
                    Bienvenue sur le site {{ user.username }}!
                    {% else %}
                    Bienvenue sur le site!
                    {% endif %}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href = "{% url 'home' %}">Accueil</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'events:index' %}">Evénements</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'team:index' %}">Qui sommes-nous?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'programme:index' %}">Notre programme</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'hotline:home' %}">Nos hotlines</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'partners' %}">Nos partenaires</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'gallery' %}">Galerie</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Liste BDE Mine'Light</h1>
                <hr>
                <p>Là, on peut mettre un petit bla bla sur qui nous sommes</p>
                <a href="{% url 'team:index' %}" class="btn btn-primary btn-xl page-scroll">L'équipe</a>
            </div>
        </div>
    </header>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sondage et messages</h2>
                    <hr class="primary">
                    <p>Vous pouvez voter et poster des messages ici si vous créez un compte !</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <div  id = "chat">
                        <h3>Chat</h3>
                        <ul align="left">
                        {% for chat in last_chats %}
                            <li>
                                <b>{{ chat.user.username }}:</b> {{ chat.message }} <sub>{{ chat.pub_date }}</sub>
                            </li>
                            {% empty %}
                            Personne n'a envoyé de message :(
                            {% endfor %}
                        </ul>
                        {% if user.is_authenticated %}
                        <form method="post"  action="{% url 'chat:new_chat' %}">
                           {% csrf_token %}
                           {{ chat_form.as_p }}
                           <input type="submit" value = "Envoyer"/>
                        </form>
                        {% endif %}
                    </div>
                </div>
                
                <div class="col-lg-4 text-center">
                    <div  id = "poll">
                        <h3>Sondage du jour</h3>
                        <ul>
                            {% for poll in poll_today %}
                            <li>{{ poll.question_text }}</li>

                                <form action="{% url 'polls:vote' poll.id %}" method="post">
                                {% csrf_token %}
                                    {% if not user.is_authenticated or poll|has_voted:user %}

                                    <ul>
                                     {%for choice in poll.choice_set.all %}
                                         <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
                                     {% endfor %}
                                    </ul>

                                    {% else %}
                                        {% for choice in poll.choice_set.all %}
                                            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                                        {% endfor %}
                                        <input type="submit" value="Vote">
                                        {% endif %}

                            {% empty %}
                            Pas de sondage aujourd'hui, le VP geek se claque!
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id = "events">
                    <h2 class="section-heading" align="center"><br>Programme du jour</h2>
                    <hr class="primary">
                    <ul align="center">
                    {% for event in events_today %}
                        <li><a href = "{% url 'events:detail' event.id %}">{{ event.name }}</a> à {{ event.debut | time:"P" }}</li>
                        {% empty %}
                        Pas d'événements aujourd'hui
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Programme de la semaine</h2>
                    <hr class="light">
                    <p class="text-faded">On peut mettre ici une échelle temporelle avec tout le programme mais pour l'instant, j'ai un peu la flemme de la coder.</p>
                    <a href="{% url 'events:index' %}" class="page-scroll btn btn-default btn-xl sr-button">Programme</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Programme de campagne</h2>
                    <hr class="light">
                    <p class="text-faded">Coucou</p>
                    <a href="{% url 'programme:index' %}" class="page-scroll btn btn-default btn-xl sr-button">Programme</a>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos partenaires</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Fnac</h3>
                        <p class="text-muted">A votre service.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Octo finances</h3>
                        <p class="text-muted">Pour sharker un max !</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Carrefour</h3>
                        <p class="text-muted">Vos courses à prix réduit.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">Avec amour !</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/1.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/crepes.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Crêpes
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/2.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/2.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/3.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/3.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/4.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/4.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/5.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/5.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/6.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/6.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Vos plus belles photos !</h2>
                <a href="{% url 'gallery' %}" class="btn btn-default btn-xl sr-button">Galerie</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <hr class="primary">
                    <p>Pour toutes vos suggestions et idées</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>01 00 00 00 00</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:alexiane.laude@mines-paristech.fr">alexiane.laude@mines-paristech.fr</a></p>
                </div>
            </div>
        </div>
    </section>

    <div class="footer">


    <aside class="bg-dark">
        <div class="container text-center">

            <div class="row">
                {% if user.is_authenticated %}
                <a href = "{% url 'deconnexion' %}" class="btn btn-default btn-xl sr-button">Se déconnecter</a>

                {% else %}
                
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <a href = "{% url 'connexion' %}" class="btn btn-default btn-xl sr-button">Se connecter</a>
                </div>
                <div class="col-lg-4 text-center">
                    <a href = "{% url 'new_user' %}" class="btn btn-default btn-xl sr-button">Créer un nouveau compte</a>
                </div>

                {% endif %}
            </div>

        </div>
    </aside>


    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/creative.min.js' %}"></script>

</body>

</html>
