<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Titre du site</title>
</head>
<body>

{% block title %}
    {% if user.is_authenticated %}
    Bienvenue sur le site {{ user.username }}!
{% else %}
Bienvenue sur le site!
{% endif %}
{% endblock %}

{% block content %}
    <figure id = "photo_liste">
    <!-- La photo avec tout le monde -->
        <a href = "{% url 'team:index' %}"><img src = "{% static 'images/hsv.jpg' %}"/></a>
    <figcaption>Clique pour découvrir notre team!</figcaption>
    </figure>

    <div id = "présentation">
    <h2>Le BDE??</h2>
    <p>Blabla où on explique qui on est</p>
    </div>

    <div id = "hotlines">
    <h2>Nos hotlines:</h2>
    <p>Bla bla comme quoi elles sont qualis</p>
    <a href = "{% url 'hotline:home' %}">Commandez ici!</a>
    </div>

    <div id = "programme">
    <h2>Notre programme:</h2>
    <p>En quelques mots</p>
    <a href = "{% url 'programme:index' %}">Le programme en détail</a>
    </div>

    <div id = "partenaires">
    <h2>Nos partenaires:</h2>
    <p>Petit merci</p>
    <a href = "{% url 'partners' %}">Tous nos partenaires</a>
    </div>
{% endblock %}

<footer>
    {% block retour %}{% endblock %}
</footer>

</body>
</html>