<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load tags %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>-->

    <link rel="stylesheet" href="https://use.typekit.net/vfj1lfm.css">

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/home.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Camino Royale</title>
</head>


<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div id="message">
            {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="top-alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </div>
            {% endfor %}
    </div>
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'home' %}">
                    <img src="{% static 'img/Logo.png' %}" alt="Logo" style="width:130px;">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href = "{% url 'home' %}"><b>Accueil</b></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'events:index' %}">Evénements</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'team:index' %}">Qui sommes-nous?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'programme:index' %}">Notre programme</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'hotline:home' %}">Hotlines</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'bouffe' %}">Bouffe</a>
                    </li>
                    <li id="content-desktop">
                        <a class="page-scroll" href="{% url 'tetris:tetris' %}">Jeu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'quiz' %}">Quiz</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'partners' %}">Partenaires</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'escape:escape' %}">Notre Escape game</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">

        </div>
    </header>

    <section id="contact">
        <img src="{% static 'img/header.jpg' %}" width="100%" id="content-mobile">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sondage et messages</h2>
                    <hr class="primary">
                    {% if not user.is_authenticated %}
                    <p>Vous pouvez voter et poster des messages ici si vous créez un compte !</p>
                    {% else %}
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <div  id = "chat">
                        <h3>Chat:</h3>
                        <ol align="left" class="list-group"  id="chat_scroll">
                            {% for chat in last_chats %}
                                <li class="list-group-item">
                                    <b>{{ chat.user.username }}:</b> {{ chat.message }} <sub>{{ chat.pub_date }}</sub>
                                </li>
                                {% empty %}
                                 Personne n'a envoyé de message :(
                            {% endfor %}
                         </ol>
                            <form method="post"  action="{% url 'chat:new_chat' %}">
                                {% csrf_token %}
                                {{ chat_form.as_p }}
                                <input type="submit" value = "Envoyer"/>
                            </form>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div  id = "poll">
                        <h3>Sondage du jour</h3>
                        <ul class="sondage">
                            {% for poll in poll_today %}
                            <li>{{ poll.question_text }}</li>

                                <form action="{% url 'polls:vote' poll.id %}" method="post">
                                {% csrf_token %}
                                    {% if not user.is_authenticated or poll|has_voted:user %}

                                    <ul>
                                     {%for choice in poll.choice_set.all %}
                                         <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
                                     {% endfor %}
                                    </ul>

                                    {% else %}
                                        {% for choice in poll.choice_set.all %}
                                            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                                        {% endfor %}
                                        <input type="submit" value="Vote">
                                        {% endif %}

                            {% empty %}
                            Pas de sondage aujourd'hui, le VP geek se claque!
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                </div>
            </div>

        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Planning de la semaine</h2>
                    <hr class="light">
                    <p class="text-faded">Une semaine de folie en perspective!

                    <section class="timeline">
                          <ol>
                            <li>
                              <div>
                                <time>03/04, 22h</time> Bataille d'affichage. Rendez-vous en FAO pour le premier affrontement entre listes.
                              </div>
                            </li>
                            <li>
                              <div>
                                <time>04/04, 12h</time>La première BALM, un wok géant dans le jardin des Mines qui va vous régaler.
                              </div>
                            </li>
                            <li>
                              <div>
                                <time>05/04, de 7h à 9h30</time>Un petit déjeuner servi au lit, fait avec amour.
                              </div>
                            </li>
                            <li>
                              <div>
                                <time>05/04, 22h</time>Notre soirée libre: EmMeuhnez moi au CaMino Royale. On va te faire voyager aux quatre coins du monde à travers des jeux de casino. Plein de lots (ou de shots) à gagner!
                            </li>
                              <li>
                              <div>
                                <time>06/04 le matin</time>Dévoilement d'une hotline comme vous n'en avez jamais vu, et qui va vous en mettre plein les yeux (et la panse). La hotline commencera le samedi à 14h et durera jusquà dimanche!
                              </div>
                            </li>
                            <li>
                              <div>
                                <time>06/04, ouverture de la salle à 14h15</time> Spectacle de Morphée à la Mine en L108, préparez-vous à être hypnotisés!
                              </div>
                            </li>
                            <li>
                              <div>
                                <time>06/04, toute la journée</time>Une surprise vous attend en salle D de la Meuh...Revenez jeudi soir pour la découvrir!
                              </div>
                            </li>
                            <li>
                              <div>
                                <time>07/04, 8h</time>Lendemain de soirée difficile? Rendez-vous en FAO pour un brunch aussi bon que chaleureux
                              </div>
                            </li>
                            <li>
                              <div>
                                <time>07/04, 20h30</time>Octobattle, les listes se font face dans l'Octogone.
                              </div>
                            </li>
                            <li>
                              <div>
                                <time>08/04, 23h</time>Deus ExMinchina. Le club Vendôme vous accueille pour une externe de folie!
                              </div>
                            </li>
                            <li>
                              <div>
                                <time>09/04, 12h</time>La grotte de Chypre vous offre un repas crétois complet (spoiler: ne vous remplissez pas trop pour résister aux activités de l'aprèm)
                              </div>
                            </li>
                              <li>
                              <div>
                                <time>10/04, 22h</time>L'espion qui Meuhmait. Chauffez-vous pour la dernière soirée de la campagne, une interne en or
                              </div>
                            </li>
                              <li></li>
                              <li></li>
                          </ol>

                          <div class="arrows">
                            <button class="arrow arrow__prev disabled" disabled>
                              <img src="{% static 'img/arrow_prev.png' %}" alt="prev timeline arrow">
                            </button>
                            <button class="arrow arrow__next">
                              <img src="{% static 'img/arrow_next.png' %}" alt="next timeline arrow">
                            </button>
                          </div>
                    </section>



                    <a href="{% url 'events:index' %}" class="page-scroll btn btn-default btn-xl sr-button">Planning</a>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
                <div id = "events">
                    <h2 class="section-heading" align="center"><br>Planning du jour</h2>
                    <hr class="primary">
                    <ul align="center">
                    {% for event in events_today %}
                        <li><a href = "{% url 'events:detail' event.id %}">{{ event.name }}</a> à {{ event.debut | time:"H:i" }}</li>
                        {% empty %}
                        Pas d'événements aujourd'hui
                        {% endfor %}
                    </ul>
                </div>
            </div>

    <section class="bg-primary" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Programme de campagne</h2>
                    <hr class="light">
                    <p class="text-faded"></p>
                    <a href="{% url 'programme:index' %}" class="page-scroll btn btn-default btn-xl sr-button">Notre programme</a>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos partenaires</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href = "https://www.societegenerale.fr">
                        <img src="{% static 'img/partenaires/societe-generale.png' %}" height="50">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href = "https://www.octofinances.com/fr/" >
                        <img src="{% static 'img/partenaires/octo-finances.jpg' %}" height="60">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href = "http://www.mc2i.fr">
                        <img src="{% static 'img/partenaires/mc2i.png' %}" height="60">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href = "http://pumpkin-app.co">
                        <img src="{% static 'img/partenaires/pumpkin.jpg' %}" height="60">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href = "{% url 'hotline:crepes' %}" class="portfolio-box">
                    <div class="portfolio-box">
                        <img src="{% static 'img/crepes.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Crêpes
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/chore.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Choré
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/compliments.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Compliments
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/insultes.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Insultes
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/massage.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Massage
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <!--<a href = "{}" class="portfolio-box">-->
                    <div class="portfolio-box">
                        <img src="{% static 'img/muffin.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Muffins
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/hugs.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Câlins
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/telephone-rose.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Téléphone Rose
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/anti-gueule.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Anti gueule de bois
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <a href = "{% url 'hotline:apero' %}" class="portfolio-box">
                        <div class="portfolio-box">
                        <img src="{% static 'img/apero.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Apéro
                                </div>
                            </div>
                        </div>
                        </div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                        <img src="{% static 'img/mystere.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Mystère???
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-box">
                    <!--<a href = "" class="portfolio-box">-->
                        <div class="portfolio-box">
                        <img src="{% static 'img/petitdej.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hotline
                                </div>
                                <div class="project-name">
                                    Petit déjeuner
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <hr class="primary">
                    <p>Notre numéro de hotline, et une adresse mail pour nous écrire des mots doux ainsi que nos réseaux sociaux</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-center">
                    <i class="fa fa-phone fa-2x sr-contact"></i>
                    <p>01 84 60 96 00</p>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="fa fa-envelope-o fa-2x sr-contact"></i>
                    <p><a href="mailto:liste.caminoroyale@gmail.com">Mail</a></p>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="fa fa-facebook-f fa-2x sr-contact"></i>
                    <p><a href="https://www.facebook.com/CaMino-Royale-2323474301028659/">Page Facebook</a></p>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="fa fa-youtube fa-2x sr-contact"></i>
                    <p><a href="https://www.youtube.com/channel/UCVR4mBa-n5m6xIuBazDkDsA">Chaîne Youtube</a></p>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="fa fa-instagram fa-2x sr-contact"></i>
                    <p><a href="https://www.instagram.com/listecaminoroyale/">Compte Instagram</a></p>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="fa fa-snapchat fa-2x sr-contact"></i>
                    <p>camino-royale</p>
                </div>
            </div>
        </div>
    </section>

    <div class="footer">


    <aside class="bg-dark">
        <div class="container text-center">

            <div class="row">
                {% if user.is_authenticated %}
                <a href = "{% url 'deconnexion' %}" class="btn btn-default btn-xl sr-button">Se déconnecter</a>

                {% else %}

                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <a href = "{% url 'connexion' %}" class="btn btn-default btn-xl sr-button">Se connecter</a>
                </div>
                <div class="col-lg-4 text-center">
                    <a href = "{% url 'new_user' %}" class="btn btn-default btn-xl sr-button">Créer un nouveau compte</a>
                </div>

                {% endif %}
            </div>

        </div>
    </aside>


    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/creative.js' %}"></script>
    <script src="{% static 'js/timeline.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

    <script>
        var element = document.getElementById("chat_scroll");
        element.scrollTop = element.scrollHeight;
        function updateScroll(){
            var element = document.getElementById("chat_scroll");
            element.scrollTop = element.scrollHeight;
        }
    </script>

</body>

</html>