{% extends 'base.html' %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Galerie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

{% block content %}

<h1>Ajouter un nouveau mineur</h1>


<p>
    <form method="post"  action="">
       {% csrf_token %}

        {{ form |crispy }}  <!-- form.as_p -->
        <input type="submit" class="btn btn-success" value = "Créer"/>

    </form>
</p>


{% endblock %}

</body>