<!DOCTYPE html>
<html style="overflow: hidden">

{% extends 'base.html' %}
{% load static %}

    <head>
        <title>Tetris</title>
    </head>
    <body style="overflow: hidden">

        {% block content %}
        <audio id="clearsound" src="{% static 'sound/clear.mp3'%}" preload="auto"></audio>
		<audio id="gamesound" src="{% static 'sound/tetris.mp3'%}" preload="auto"></audio>
		<audio id="gameover" src="{% static 'sound/gameover.mp3'%}" preload="auto"></audio>

        <div class="row">
        <div class="col-lg-3 text-center">

                <h3>Touches clavier:</h3>
                <ul>
                    <li align="left"> Rotation: ↑	</li>
                    <li align="left"> Déplacer: ←, ↓ et →	</li>
                    <li align="left"> Chute: Espace  </li>
                </ul>
            <button id="playbutton" onclick="playButtonClicked();" class="btn btn-default btn-xl sr-button">Jouer</button>
                <p id=dialogbox ></p>
        </div>


            <div class="col-lg-9">
                <div class="row">

                    <div class="col-lg-3"> <img src ="{% static 'Logo.png'%}" height ='40' id=dialoglogo></div>

                </div>

                <canvas width='300' height='500'></canvas>

            </div>

        </div>

        <script src="{% static 'js_tetris/tetris.js'%}"></script>
        <script src="{% static 'js_tetris/controller.js'%}"></script>
        <script src="{% static 'js_tetris/render.js'%}"></script>
        {% endblock %}
    </body>
</html>