<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Boite à idées</title>
</head>
<body>
{% block title %}Boite à idées{% endblock %}

{% block content %}

<p>A toi de proposer tes idées les plus disruptives! Dis nous ce que tu aimerais améliorer aux Mines, les points sur lesquels tu voudrais qu'on se concentre lors de notre (potentiel) mandat.</p>
        <form method="post"  action="{% url 'programme:boite_a_idee' %}">
       {% csrf_token %}
{{ form.as_p }}
    <input type="submit" value="Submit" />
        </form>


{% endblock %}
</body>
</html>