<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>{{ mesure.name }}</title>
</head>
<body>
{% block title %}{{ mesure.name }}{% endblock %}
{% block content %}
<p>{{ mesure.preambule }}<p>
<h2>Constat:</h2>
    <p>{{ mesure.constat }}</p>
    <h2>Mesure concrète:</h2>
    <p>{{ mesure.concret }}</p>

{% if user.is_authenticated %}
    <p><strong><a href = "{% url 'programme:vote' mesure.id %}">Je donne mon avis!</a></strong></p>
    {% endif %}
    <p><strong><a href = "{% url 'programme:index' %}">Revenir au programme</a></strong></p>
{% endblock %}

</body>
</html>