<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>{{ mesure.name }}</title>
</head>
<body>
{% block title %}{{ mesure.name }}{% endblock %}

{% block content %}
    <p>Dis nous ce que tu penses de cette mesure, si tu as des réserves, des choses à ajouter, ou tout simplement pour nous dire que tu kiffes l'idée! Ces commentaires seront enregistrés et, si on est élus, ils seront pris en compte lorsque nous mettrons ces mesures en application.<p>
<h3>La mesure concrète:</h3>
    <p>{{ mesure.concret }}</p>
    <form method="post"  action="{% url 'programme:vote' mesure.id %}">
       {% csrf_token %}
        {{ form |crispy }}
    <input type="submit" class="btn btn-success" value="Envoyer" />
    </form>
{% endblock %}

</body>
</html>